<%= tag.h4 t('.title') %>

<div class="grid-x grid-margin-x word_book_cards">
  <% @word_books.each do |word_book| %>
    <div class="cell large-4 medium-12">
      <%= link_to word_book_path(word_book) do %>
        <div class="work_book card word_book_card">
          <div class="card-section">
            <%= tag.div word_book.title %>
            <%= tag.div do %>
              <%= tag.span '単語数：' %>
              <%= word_book.words.count %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="grid-x grid-margin-x">
  <div class="cell medium-6 small-12 medium-offset-3">
    <%= link_to t('.add_words'), new_word_book_path, class: 'button alert expanded' %>
  </div>
</div>
