<div class="grid-x grid-margin-x">
  <div class="cell medium-6 medium-offset-3 small-10 small-offset-1">
    <div class="card">
      <div class="card-section">
        <div class="login-form">
          <!-- フォームタイトル -->
          <h4 class="text-center"><%= t('.sign_in') %></h4>

          <!-- メールアドレスログイン -->
          <div class="general-login">
            <h6 class="text-center"><%= t('.sub_title.general') %></h6>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: CustomFormBuilder) do |f| %>
              <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit t('.sign_in'), class: "button alert radius bordered shadow expanded" %>
              </div>
            <% end %>
          </div>

          <!-- オーオースログイン --> 
          <div class="oauth-login">
            <h6 class="text-center"><%= t('.sub_title.oauth') %></h6>
            <%= render "devise/shared/omniauth_links" %>
          </div>
        </div>

        <!-- 共通リンク -->
        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
