<div class="top-bar">
  <div class="top-bar-left show-for-medium">
    <ul class="dropdown menu" data-dropdown-menu>
      <%= tag.li Settings.web.name, class: "menu-text" %>
      <% if user_signed_in? %>
        <li><%= link_to t('.word_books'), word_books_path %></li>
        <li><%= link_to t('.word_book_new'), new_word_book_path %></li>
      <% end %>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="vertical menu hide-for-medium" data-accordion-menu>
      <li>
        <a href="#" class="accordion-heder">
          <%= tag.span Settings.web.name, class: "menu-text" %>
          <span class="header-small-accordion"><i class="fas fa-bars text-right"></i></span>
        </a>
        <ul class="menu vertical nested align-center">
          <% if user_signed_in? %>
            <li><%= link_to t('.work_books'), new_word_book_path %></li>
            <li><%= link_to t('.word_book_new'), new_word_book_path %></li>
            <li><%= link_to t('.users_edit'), edit_user_registration_path %></li>
            <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to t('.login'), new_user_session_path %></li>
            <li><%= link_to t('.register'), new_user_registration_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>

    <ul class="dropdown menu show-for-medium" data-dropdown-menu data-disable-hover="true" data-click-open="true">
      <% if user_signed_in? %>
          <li>
            <%= link_to t('.users_configuration'), "#" %>
            <ul class="menu vertical">
                <li><%= link_to t('.users_edit'), edit_user_registration_path %></li>
                <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
      <% else %>
        <li><%= link_to t('.login'), new_user_session_path, class: 'button alert rounded bordered hollow' %></li>
        <li><%= link_to t('.register'), new_user_registration_path, class: 'button alert rounded bordered' %></li>
      <% end %>
    </ul>
  </div>
</div>
