<header>
  <nav>
    
  </nav>
</header>

<div class="top-bar">
  <div class="top-bar-left show-for-medium">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">tango note</li>
      <% if user_signed_in? %>
        <li><a href="#">単語帳</a></li>
        <li><a href="#">単語帳作成</a></li>
        <li><a href="#">テスト</a></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="vertical menu hide-for-medium" data-accordion-menu>
      <li>
        <a href="#">
          <span class="menu-text">tango note</span>
          <span class="header-small-accordion"><i class="fas fa-bars text-right"></i></span>
        </a>
        <ul class="menu vertical nested align-center">
          <% if user_signed_in? %>
            <li><a href="#">単語帳</a></li>
            <li><a href="#">単語帳作成</a></li>
            <li><a href="#">テスト</a></li>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="dropdown menu show-for-medium" data-dropdown-menu>
      <li>
        <a href="#">ユーザー設定</a>
        <ul class="menu vertical">
          <% if user_signed_in? %>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>




